.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 3rem;

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  a {
    margin-bottom: 1rem;
  }
}

.imageContainer {
  img {
    max-width: 100%;
  }
}

.title {
  flex: 1;
}
